* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

body {
    background:rgba(0,0,0,0.5) url(../images/bg3.jpg);
    color: black;
}

a:hover {
    font-style: italic;
    text-decoration: underline;
}

body h1,h2,h3,h4,h5,h6 {
    color: black;
}

.header {
    width: 100%;
    background-image: url(../images/header3.jpg);
}

header, .content {
    width: 60%;
    margin: auto;
}


header {
    height: 250px;
    line-height: 250px;
    font-size: 20px;
    position: relative;
    margin-bottom: 20px;
    /*border-bottom: 2px solid black;*/
    color: white;
}

header li {
    display: inline;
    text-decoration: none;
    padding: 0px 15px;
}

header li a {
    text-decoration: none;
    color: white;
}

header .logo {
    float: left;
    padding-left: 20px;
    font-size: 50px;
    font-weight: bold;
}

header ul {
    position: absolute;
    right: 20px;
    margin: 0;
}

.logo {
    margin-right: 300px;
}

.logo a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    header ul {
        position: relative;
        line-height: 0;
        top: -60px;
        left: 5px;
    }
}

.logo a:hover {
    text-decoration: none;
    font-style: normal;
}

.article-list {
    min-height: 900px;
    margin-top: 70px;
}

.article-list li{
    padding-left: 30px;
    list-style-position: inside;
    font-size: 20px;
    margin: 1.5em 0px;
}
.article-list li span {
    padding-right: 30px;
}

.article-list a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

article {
    border-top: black dashed 2px; 
    margin-top: 15px;
    margin-bottom: 50px;
}

code {
    color: black;
}

li {
    margin: 5px 0px;
}

.content {
    min-height: 600px;
}


footer {

    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 60%;
    margin: auto;
    border-top: solid 2px black;
}

footer p {
    line-height: 1.5em;
    margin: 5px 0px;
}

@media only screen and (max-width: 640px) {
    header, .content, footer {
       width: 95%;
    }
}